
@keyframes colorRunning {
    0% {
      background-position: right bottom; 
    }
    100% {
      background-position: left bottom; 
    }
}

@keyframes colorRunningReverse {
  0% {
    background-position: left bottom; 
  }
  100% {
    background-position: right bottom; 
  }
}


