@charset "UTF-8";

@import url("animation.css");

*{
    user-select: none;
}
/* 
|   Commons
*/
header, #about, #contact, #section-experience, #section-projects, #section-skills{
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
/* 
|   Nav
*/
.navbar{
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
    background: linear-gradient(45deg, #F8DE22 0%, #F8DE22 50%, #ffffff00 50%, #ffffff00 100%);
    background-size: 400%;
    background-position: 100%;
}


.nav-design{
    background-position: 100%;
    animation: colorRunning 0.6s linear forwards;
}

.nav-design-reverse{
    background-position: 0%;
    animation: colorRunningReverse 0.3s linear forwards;
}
body{
    height: 100vh;
}

/* HEADER SECTION */
header{
    height: 100vh;
    background-image: url('../img/header.png');
}

#section-1{
    height: inherit;
}

#section-1 h1{
    font-size: 4rem;
    font-weight: bold;
}

#section-1 h2{
    font-size: 1.5rem;
    font-weight: 600;
}

#section-1 > :first-child {
    border-left: 5px solid yellow;
    padding-left: 50px;
}

@media (max-width: 426px) {  
    #section-1 h1{
        font-size: 3rem;
    }
    #section-1 h2{
        font-size: 1.4rem;
    }
}

/* 
|   Section - experience
*/
#section-experience{
    min-height: 100vh;
    background-image: url('../img/experience-bg.png');
}

.blur-bg{
    position: relative;
    border: 2px solid transparent;
    z-index: 1;
    height: 600px;
}

.blur-bg::before{
    content: attr(data-label);
    position: absolute;
    top: -20px;
    left: 95px;
    transform: translateX(-50%);
    padding: 0 8px;
    background-color: #F8DE22; 
    z-index: 2;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
}

.glass{
    color: white;
    background-color: rgba(128, 128, 128, 0.485);
    backdrop-filter: blur(10px);
    overflow-y: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.glass::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.glass{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.expi-card > h3{
    font-size: 1.5rem;
    margin: 10px 0px 5px;
    font-weight: bold;
}

.expi-card > h4{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.expi-card > p{
    font-size: 1rem;
}
/* 
|   Section projects
*/
#section-projects{
    min-height: 100vh;
    background-image: url('../img/project-bg.png');
}

.proj-card{
    height: 590px;
}

/* 
|   Section skills
*/
#section-skills{
    min-height: 80vh;
    background-image: url('../img/skills-bg.png');
}
/* 
| Footer
*/
footer{
    min-height: 20vh;
    background-color: rgb(24, 24, 0);
}

#footer-icons{
    display: flex;
}

/* 
|   Modal
*/
#about{
    background-color: rgb(234, 234, 234);
}
#aboutContainer{
    width: 50%;
}
#contact{
    background-color: #635e16;
}

/* 
|   Scroll bar
*/
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
}

/* Track (the area on which the thumb drags) */
::-webkit-scrollbar-track {
    background: white; /* Change the track color */
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
    background: yellow; /* Change the color of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555; /* Change the color on hover */
}