@charset "UTF-8";

@import url('');

@font-face{

}

.smooch-texts{
    font-family: 'NanumMyeongjo', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.nav-r-text{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}

.nav-design{
    background-color: orange;
    animation: colorRunning 3s linear infinite;
}